@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');


.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
  width: 68%;
  background: #1c1938;
}

body {
  background-color: #0a0c1b;
  font-family: 'Outfit', Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;             
  justify-content: center;
  align-items: center;
}

.card-img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  background-color: #a256d0;
}

.card-img {
  height: 320px;
}

.header {
  padding-left: 16px;
  order: 2;
}

.header-h1 {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.violet {
  color: #8e56b8;
}

.span {
  font-size: 11px;
  color: #76748a;
}

.info {
  display: flex;
  align-items: center;
  background: #1c1938;
  gap: 30px;
  padding-left: 16px;
}

.info-div {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.info-div p {
  margin: 0;
  font-weight: bold;
}

.info-span {
  color: #68667e;
  text-transform: uppercase;
  font-size: 12px;
}

.padding {
  padding: 0 40px;
}

.card-img_mobile {
  display: none;
}

@media (max-width: 980px) {
  body {
    padding: 100px;
  }
  .padding {
    width: 100%;
    text-align: center;
  }
  .info {
    justify-content: center;
  }
  .card-img_mobile {
    display: block;
    width: 100%;
  }
  .card-img {
    display: none;
  }
  .card .card-img-div {
    order: 1;
  }
  
  .card .padding {
    order: 2;
    padding: 0;
  }
  .header, .info {
    padding: 0;
  }
  .info {
    flex-wrap: wrap;
    padding-bottom: 30px;
  }
}